:root {
  --text-colour-default: #171717;
  --text-colour-secondary: #737373;
  --text-colour-inverted: #ffffff;
  --text-colour-disabled: #737373;

  --text-colour-info: #2f5eaf;
  --text-colour-danger: #dc2626;
  --text-colour-success: #43a047;
  --text-colour-warning: #bf6a02;

  --bg-colour-default: #f7f7f7;
  --bg-colour-white: #ffffff;
  --bg-colour-accent: #1a223b;

  --bg-info-muted: #f0f4fa;
  --bg-success-muted: #e8f5e9;
  --bg-danger-muted: #fef2f2;
  --bg-warning-muted: #fffbeb;

  --border-colour-default: #d4d4d4;
  --border-colour-subtle: #e5e5e5;
  --border-success: #43a047;
  --border-info: #2f5eaf;
  --border-danger: #dc2626;
  --border-warning: #bf6a02;

  --btn-primary-bg: #2f5eaf;
  --btn-primary-bg-hover: #224583;
  --btn-primary-bg-disabled: #e0e0e0;

  --btn-secondary-bg: #ffffff;
  --btn-secondary-bg-hover: #f0f4fa;
  --btn-secondary-bg-disabled: #e0e0e0;

  --btn-danger-bg: #dc2626;
  --btn-danger-bg-hover: #b91c1c;

  --icon-colour-default: #171717;
  --icon-colour-secondary: #737373;
  --icon-colour-accent: #6ec3ce;

  --shadow-default: 0px 4px 16px 0 rgba(0, 0, 0, 0.08);

  --font-family-default: 'Inter', sans-serif;

  --font-size-default: 14px;

  --border-radius-full: 9999px;

  --space-2: 8px;
}
